<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please, provide location for us to know where to deliver the order.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Color</string>
		<key>UIImageName</key>
		<string>foodie</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict>
			<key>LaunchScreenView</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
